.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #DDD;
  padding: 20px 40px;
  border-radius: 5px;
  transition: 0.1s;
  cursor: pointer;
  margin: 10px;

  -webkit-box-shadow: 0px 9px 20px -9px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 9px 20px -9px rgba(0, 0, 0, 0.20);
  box-shadow: 0px 9px 20px -9px rgba(0, 0, 0, 0.20);
}

.project-card:hover {
  transform: scale(1.01);
}

.project-card img {
  max-width: 100px;
  border-radius: 50%;
}

.project-card>div {
  margin-left: 40px;
}