.logo {
  max-width: 120px;
}

.profile img {
  max-width: 50px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile span {
  margin-left: 10px;
  display: inline-flex;
  flex-direction: column;
  color: #FFF;
}